.message {
  display: flex;
  align-items: flex-end;
  margin: 10px;
}

.avatar {
  width: 50px;
  height: 50px;

  border-radius: 50%;
}

.content {
  padding: 10px;
  color: white;
  background-color: red;
  border-radius: 5px 5px 5px 0;
}

.angle {
  width: 15px;
  height: 15px;
  background: radial-gradient(
    circle at 0 0,
    rgba(0, 0, 0, 0) 15px,
    rgba(255, 0, 0, 1) 0
  );
}

.text {
  min-width: 150px;
  max-width: 300px;
  flex-wrap: wrap;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.time {
  display: flex;
  justify-content: flex-end;

  color: white;
}

.input {
  padding: 10px;
  margin: 10px;
}

.textarea {
  border: 1px solid red;
  min-width: 200px;
  min-height: 50px;
  padding: 10px;
}

.btn {
  width: 50px;
  background-color: red;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
