.superInput {
  padding: 2px 5px;
  background-color: transparent;
  border: 2px solid darkcyan;
  border-radius: 2px;
  outline: 2px solid transparent;
}

.errorInput {
  padding: 2px 5px;
  border: 2px solid red;
  background: transparent;
  outline: none;
}

.error {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
