.superSelect {
	width: 100px;
	font-weight: bold;
	background-color: #99ff99;
	margin: 5px;
	padding: 2px 5px;
	border: 2px solid darkcyan;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

.option:checked {
	background-color: seagreen;
}

.label {
	cursor: pointer;
	padding-left: 10px;
}

.radio {
	appearance: none;
	width: 12px;
	height: 12px;
	cursor: pointer;
	border-radius: 50%;
	outline: none;
	background: darkcyan;
}
.radio:checked {
	background: crimson;
	/*border: 1px solid darkcyan;*/
}
.radio:hover {
	border: 1px solid crimson;
}