@keyframes blink {
  from {
    left: -100%
  } to {
    left: 100%;
      }
}

.default {
  background-color: darkcyan;
  color: white;
  outline: none;
}

.red {
  color: white;
  background: crimson;
}

.button {
  position: relative;
  margin: 5px;
  overflow: hidden;
  cursor: pointer;
}

.button::after {
  display: block;
  content: '';
  position: absolute;

  left: -130%;
  top: 0;
  height: 100%;
  width: 20%;

  transform: skew(-45deg);

  background-color: white;
  opacity: .5;

  z-index: 100;
}

.button:hover::after {
  animation: blink .3s ease;
}

.button:hover::before {
  display: block;
  content: '';
  position: absolute;

  left: -100vw;
  top: 0;
  height: 100vh;
  width: 300vw;

  background-color: white;
  opacity: .3;
  z-index: 99;
}

.button:focus {
  outline: 1px solid aqua;
}

.button:active {
  background: #99ff99;
}

.button:disabled {
  color: white;
  opacity: .5;
  cursor: auto;
}

.button:disabled::after {
  z-index: -1;
}

.button:disabled::before {
  z-index: -1;
}
